@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');  
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);  
}
 @font-face {
    font-family: 'Roboto-Condensed';
    src: url(../fonts/Roboto-Condensed.ttf);  
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);  
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);  
} 


body {
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
.header {
	height: 873px;
	width: 1920px;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
}
.sign-in input {	
	height: 36px;	
	width: 82px;	
	border: 2px solid #8BC34A;	
	border-radius: 100px;
	color: #8BC34A;
	margin-left: 1448px;
}
.about {
	display: inline-block;
	width: 1px;
}
.about-us img {
	margin-top: 53px;
	margin-left: 1344px;
}
.sign-in {
	display:inline-block;
}
.logo img {
	margin-left: 832px;
	margin-right: 832px;
	margin-top: 165px;
	width: 256px;
	height: 74px;
}
.icon-general {
	float: left;
	width: 52px;
}
.icon-161 {
	margin-left: 607px;
}
.icon-199 {
	margin-left: 267px;
}
.icon-113 {
	margin-left: 252px;
}
.icon-theme {
	font-size: 48px;
}
.icon {	
	margin-top: 53px;
	height: 48px;
}
.icon-text {
	margin-left: 585px;
	height: 50px;
}
.text-general {
	float: left;
	width: 96px;
	height: 50px;
}
.faster {
	margin-left: 229px;
}
.together {
	margin-left: 183px;
}
.text-general span {
	height: 48px;	
	width: 101px;	
	color: #283238;	
	font-size: 36px;	
	font-weight: 300;	
	line-height: 48px;
	float: left;
	margin-top: 14px;
	font-family: Roboto-Light;
}
.lorem-ipsum-is-simpl {	
	height: 24px;	
	width: 604px;	
	color: #283238;	
	font-size: 18px;	
	font-style: italic;	
	line-height: 24px;
	margin-left: 698px;
	margin-top: 115px;
	font-family: Roboto-Regular;
}
.i-learnt {
	margin-top: 0px;
	height: 661px;
	width: 1920px;
	background-color: #FFFFFF;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}
.mark-left {
	width: 666px;
	margin-left: 181px;
	padding-top: 52px;
	float: left;
}
.mark-right {
	float: left;
	width: 660px;
	margin-left: 128px;
	padding-top: 144px;
}
.today-i-learnt {
	height: 63px;
	width: 308px;	
	color: #444444;		
	font-size: 48px;	
	font-weight: 300;
	line-height: 38px;
	float: left;
	padding-left: 19px;
	font-family: Roboto-Light;
}
.ti-bookmark-alt {
	float: left;
	height: 36px;	
	width: 36px;	
	color: #444444;	
	font-size: 36px;	
}
.lorem-ipsum-is-simpl-copy {
	display: inline-block;
	height: 19px;
	width: 470px;
	color: #283238;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	padding-top: 16px;
	font-family: Roboto-Medium;
}
.text-lorem {
	display: inline-block;
	height: 168px;
	width: 555px;
	color: #283238;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	padding-top: 38px;
	font-family: Roboto-Medium;
} 
.start-now {
	height: 60px;	
	width: 225px;	
	border-radius: 100px;	
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	color: white;
	margin-left: 0px;
	margin-top: 40px;
}
.rectangle-start {	
	margin-left: 847px !important;
	margin-top: 22px !important;
	margin-bottom: 232px !important;
}
.rectangle-start-one {
	margin-bottom: 128px;
}
.rectangle-start-two {
	margin-bottom: 76px;
}
.mark-daily-report {
	margin-top: 10px;
}
.mark-project {
	height: 640px;
	width: 1920px;
	background-color: #FFFFFF;
}
.ti-write {
	float: left;
	height: 36px;	
	width: 36px;	
	color: #444444;	
	font-size: 36px;	
	margin-top: 158px;
}
.daily-report {
	float: left;
	height: 63px;
	width: 252px;
	color: #444444;
	font-size: 48px;
	font-weight: 300;
	line-height: 36px;
	margin-left: 18px;
	margin-top: 158px;
	font-family: Roboto-Light;
}
.marks-left-01 {
	height:640px;
	width: 477px;
	margin-left: 390px;
	float: left;
}
.lorem-ipsum-is-simpl-member {
	display: inline-block;
	height: 19px;
	width: 470px;
	color: #283238;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	padding-top: 16px;
	font-family: Roboto-Medium;
}
.text-lorem-02 {
	display: inline-block;
	height: 168px;
	width: 475px;
	color: #283238;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	padding-top: 30px;
	font-family: Roboto-Medium;
}
.marks-right {
	float: left;
	width: 660px;
	margin-left: 194px;	
}
.marks-right img {
	width: 858px;
	height: 777px;
}
.select-icon {
	height: 322px;
	width: 1920px;
	background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}
.select-icon ul {
	padding: 0px;
}
.icon-daily-report {
	margin-left: 391.75px;
}
.select-icon ul li {
	list-style: none;
	padding-right: 145px;
	float: left;
}
.one {
	padding-top: 68.75px;
	height: 132px;
}
.icon-one {
	height: 36px;	
	width: 36px;	
	color: white;	
	font-size: 36px;	
	line-height: 36px;
	margin-top: 35px;
	margin-left: 33px;
}
.select-text {
	height: 24px;
	display: inline-block;
	margin-left: 384px;
	margin-top: 28.75px;
}
.daily-report-general {
	display: inline-block;
	height: 24px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 24px;
	font-family: Roboto-Medium;
}
.daily-report-three {
	margin-left: 122px;
}
.daily-report-two {
	margin-left: 138px;
}
.daily-report-four {
	margin-left: 65px;
}
.daily-report-five {
	margin-left: 63px;
}
.ti-user {
	float: left;
	height: 36px;	
	width: 36px;	
	color: #444444;	
	font-size: 36px;	
	margin-top: 111px;
}
.mask_member {
	height: 586px;
	width: 1920px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
	font-family: Roboto-Medium;
}
.daily-report-member {
	float: left;
	height: 63px;
	width: 252px;
	color: #444444;
	font-size: 48px;
	font-weight: 300;
	line-height: 36px;
	margin-left: 18px;
	margin-top: 111px;
	font-family:Roboto-Light;
}
.text-lorem-member {
	width: 564px;
	color: #283238;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	margin-top: 30px;
	padding-bottom: 30px;
}
.ti-check-box {
	float: left;
	color: #8BC34A;
	padding-top: 5px;	
	font-size: 18px;
	height: 24px;	
	width: 18px;
}
.text-lorem-member span {
	float: left;
	height: 50px;	
	width: 519px;	
	color: #283238;		
	font-size: 13px;	
	line-height: 24px;	
	text-align: justify;
	padding-left: 18px;
	font-family: Roboto-Medium;
}
.marks-right-member img {
	width: 510px;
	height: 400px;
}
.marks-right-member {
	float: left;
	width: 510px;
	margin-top: 97px;
	margin-left: 45px;
}
.marks-left-member {
	height: 634px;
    width: 560px;
    margin-left: 390px;
    float: left;
}
.mask-customers {
	height: 663px;
	width: 1920px;
}
.ti-face-smile {
	float: left;
	height: 36px;	
	width: 36px;	
	color: #444444;	
	font-size: 36px;	
}
.themify-general {
	float: left;
	color: #8BC34A;
	padding-top: 5px;	
	font-size: 18px;
}
.rectangle-our-customers {
	height: 544px;
	width: 1920px;
	background-color: rgba(40,50,56,0.9);
	background-image: url('../images/our_customers.jpg');
}
.our-customers-employees {
	padding-top: 48px;
	padding-left: 398px;
	height: 127px;
}
.our-customers-avatar {
	float: left;
	padding-right: 69.64px;
	height: 80px;
}
.our-customers-name {
	margin-top: 16px;
	margin-bottom: 256px;
	text-align: center;
	width: 80px;
	font-family: Roboto-Light;
}
.our-customers-name span {
	display: block;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: 300;
	line-height: 14px;	
}
.our-customers-name label {
	display: block;
	color: #FFFFFF;
	font-weight: 300;
	line-height: 14px;
	
}
.our-customer {
	height: 63px;
	width: 300px;
	color: #FFFFFF;
	font-family: Roboto-Light;
	font-size: 48px;
	font-weight: 300;
	line-height: 63px;
	margin-left: 816px;
	padding-top: 50px;
}
.ti-calendar {
	float: left;
	height: 36px;	
	width: 36px;	
	color: #444444;	
	font-size: 36px;	
	margin-top: 97px;
}
.daily-report-project {
	float: left;
	height: 63px;
	width: 252px;
	color: #444444;
	font-size: 48px;
	font-weight: 300;
	line-height: 36px;
	margin-left: 18px;
	margin-top: 97px;
	font-family: Roboto-Light;
}
.marks-right-project {
	float: left;
	width: 660px;
	margin-left: 131.3px;	
}
.marks-right-project img {
	width: 858px;
	height: 636px;
}
.mask-footer {
	height: 180px;
	width: 1920px;
	border: 1px solid #ECEFF1;
	background-color: #39474E;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}
.mask-footer-column-1 {
	margin-top: 45px;
	margin-left: 389px;
	float: left;
}
.hapo-erp {
	height: 29px;
	width: 96px;
	color: #AED581;
	font-family: Roboto-Medium;
	font-size: 24px;
	line-height: 29px;
}
.copyright-2017 {
	height: 13px;
	width: 69px;
	color: #D0D8DC;
	font-size: 10px;
	font-weight: 500;
	line-height: 13px;
	margin-top: 36px;
	font-family: Roboto-Medium;
}
.get-in-touch {
	height: 18px;
	width: 100px;
	color: #8BC34A;
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
	font-family: Roboto-Medium;
}
.about-us-about-hapo {
	height: 40px;
	width: 76px;
	color: #D0D8DC;
	font-size: 10px;
	font-weight: 500;
	line-height: 20px;
	font-family: Roboto-Medium;
}
.mask-footer-column-2 {
	margin-top: 54px;
	margin-left: 100px;
	float: left;
}
.ti-twitter {
	margin-left: 38px;
}
.ti-youtube {
	margin-left: 38px;
}
.ti-linkedin {
	margin-left: 38px;
}
.themify-general-footer {
	height: 13px;
	width: 13px;
	color: #8BC34A;
	font-size: 13px;
	float: left;
}
.mask-footer-contact {
	margin-left: 1365px;
	margin-top: 108px;
}
.our-customers-layout {
	margin-top: 24px;
	height: 12px;
	width: 1920px;
}
.customers-layout {
	margin-left: 923px;
	height: 12px;
	float: none;
}
.oval-3 {
	float: left;
	height: 10px;
	width: 10.71px;
	background-color: #D8D8D8;
	border-radius: 100px;
}
.oval-3-copy {
	float: left;
	margin-left: 22.97px;
	border-radius: 100px;
	height: 10px;
	width: 10.71px;
	border: 1px solid #979797;
}
.our-customers-introduce {
	height: 217px;
}
.themify-our-customer-general {
	height: 73px;
	width: 72px;
	opacity: 0.4;
	color: #FFFFFF;
	font-size: 72px;
}
.ti-quote-left {
	margin-left: 487px;
}
.ti-quote-right {
	margin-left: 1362px;
	margin-bottom: 29px;
	margin-top: -27px;
}
.our-customers-content {
	height: 90px;
	width: 750px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	text-align: justify;
	margin-left: 586px;
	margin-top: -18px;
	font-family: Roboto-Light;
}
.start-now:hover {
	background: linear-gradient(135deg, #B4EC51 0%,#429321 100%);
}
